
* {
    font-family: 'Noto Serif KR', serif;
    font-family: 'Noto Serif Sinhala', serif;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
}
header {
    top : 0px;
    left : 0px;
    position: sticky;
}


nav {
    /* margin: 50px; */
    border-radius: 50px / 15px;
    background-color: rgb(98, 204, 107);
    padding: 5px;
    display: flex;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover, nav li:hover {
    /* background-color: blue; */
    color:rgb(218, 230, 230)
}

nav a:active {
    color: brown;
}

nav li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    /* background-color: aliceblue; */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    background-color: rgb(218, 230, 230);
    margin: 20px;
    /* margin-top: 100px;  */
    padding: 20px;
    width: 80%;
}

.iconsp {
    width: 10px;
    height: 10px;
}

#block {
    height: 50vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#a1 > div {
    display: flex;
    border: 2px solid green;
    border-radius: 50% ; 
    width: 200px;
    border-radius: 10px;   
}


#a1  img {
    width: 250px;
    border-radius: 50%;
}

ul {
    margin: 50px;
}

#a2 {
    background-color: rgb(226, 235, 235);
}

.c3 {
    background-color: rgb(226, 235, 235);
}

.c3 > h1 {
    color: rgb(96, 107, 107);
}

/* .c3 > ul > li  = .c3 li { */
.c3 li {
    color: rgb(0, 0, 0);
}

